{% load static %} {% block body %} {% include "admin_navigation.html" %}
<script>
    function checkpass() {
        var currentPassword = document.changepassword.currentpassword.value;
        var newPassword = document.changepassword.newpassword.value;
        var confirmPassword = document.changepassword.confirmpassword.value;

        if (newPassword !== confirmPassword) {
            alert("New Password is not matched to the Confirm Password");
            document.changepassword.confirmpassword.focus();
            return false;
        }

        if (currentPassword === newPassword) {
            alert("New Password should be different from the Current Password");
            document.changepassword.newpassword.focus();
            return false;
        }

        return true;
    }
</script>
<style>
    .btn-primary {
        background: linear-gradient(to right, #134c67, #f7921e);
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        transition: background 0.3s ease;
    }

    .btn-primary:hover {
        background: linear-gradient(to right, #f7921e, #134c67);
    }
</style>
<form
    class="Container mt-5"
    method="post"
    name="changepassword"
    onsubmit="return checkpass()"
>
    {% csrf_token %}
    <label><b>Current Password</b></label>
    <input
        type="password"
        class="form-control"
        name="currentpassword"
        required
    />
    <label><b>New Password</b></label>
    <input type="password" class="form-control" name="newpassword" required />
    <label><b>Conform New Password</b></label>
    <input
        type="password"
        class="form-control"
        name="confirmpassword"
        required
    />
    <input
        type="submit"
        class="btn btn-primary"
        style="margin-top: 2%"
        value="Submit"
    />
</form>
{% if error == "no" %}
<script>
    alert(" Your Password Changed Sucessfully");
    window.location.href = "{% url 'Logout' %}";
</script>
{% endif %} {% if error == "yes" %}
<script>
    alert("Something Went wrong, Try Again");
</script>
{% endif %} {% if error == "not" %}
<script>
    alert("Your Current password is incorrect ");
</script>
{% endif %} {%endblock%}
