{% load static %} {% block body %} {% include "admin_navigation.html" %}
<div class="container">
    <table class="table table-hover" id="example">
        <thead>
            <tr>
                <th>S No</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Contact No</th>
                <th>Gender</th>
                <th>Company Name</th>
                <th>Image</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for i in data %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.user.first_name}} {{i.user.last_name}}</td>
                <td>{{i.user.username}}</td>
                <td>{{i.mobile}}</td>
                <td>{{i.gender}}</td>
                <td>{{i.company}}</td>
                <td>
                    <img
                        src="{{i.image.url}}"
                        style="width: 50px; height: 50px; border-radius: 50px"
                    />
                </td>
                <td>{{i.status}}</td>
                <td>
                    <a
                        href="{% url 'change_status' i.id %} "
                        class="btn btn-success btn-small"
                        >Change Status</a
                    >|<a
                        href="{% url 'delete_recruiter' i.user.id %} "
                        class="btn btn-danger btn-small"
                        >Delete</a
                    >
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{%endblock%}
